.vs/
StrategyPattern/StrategyPattern/bin/Debug/netcoreapp2.2/StrategyPattern.deps.json
StrategyPattern/StrategyPattern/bin/Debug/netcoreapp2.2/StrategyPattern.dll
StrategyPattern/StrategyPattern/bin/
StrategyPattern/StrategyPattern/obj/
